@mixin display($dir, $jus, $ali) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jus;
  align-items: $ali;
}

#main {
  max-width: 400px;
  height: 80vh;
  min-height: 700px;
  background-color: white;
  scroll-behavior: smooth;
  @include display(column, center, center );
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5); 
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
  .top {
    height: 60%;
    width: 100%;
    background: linear-gradient(to top, white 57%, black 60%);
    @include display(column, center, center);
    gap: 20px;
      h1 {
        color: white;
      }
    img {
      width: 130px;
      border-radius: 50%;
    }
    span {
      text-align: center;
      padding: 0 5px;
    }
    a {
      background-color: black;
      padding: 18px 48px;
      border-radius: 18px;
      text-decoration: none;
      color: white;
    }
  }
  .bottom {
    height: 40%;
    width: 100%;
    padding: 10%;
    @include display(row, space-between, center);
    flex-wrap: wrap;
    gap:20px;
    a {
      img {
        width: 50px;
      }
    }
  }
}