@mixin display($dir, $jus, $ali) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jus;
  align-items: $ali;
}


.Profolio {
  max-height: 770px;
  height: 100vh;
  min-width: 250px;
  max-width: 450px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5); 
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
      @media only screen and (max-height: 770px) {
      }
  .bg-black {
    height: 50%;
    width: 100%;
    background-color: black;
    z-index: 2;
}
  .top {
    height: 40%;
    width: 100%;
    position: absolute;
    top: 15%;
    z-index: 1;
    @include display(column, center, center);
    img {
      width: 130px;
      border-radius: 50%;
    }
    img,
    h1,
    h3,
    span {
      margin-bottom: 15px;
    }
    h1 {
      color: white;
    }
    a {
      width: 60%;
      padding: 10px;
      border-radius: 24px;
      border: none;
      background-color: black;
      color: white;
      text-decoration: none;
    }
  }
  .bottom {
    position: absolute;
    top: 32%;
    height: 65%;
    width: 100%;
    background-color: white;
          @include display(row, center, center);
    div {
      margin-top: 30%;
      height: 40%;
      @include display(row, center, '');
      flex-wrap: wrap;
      gap: 20%;
      img {
        height: 50px;
      }
    }
  }
}